<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @npfhtransformer.number %>
</p>

<p>
  <strong>Mide:</strong>
  <%= @npfhtransformer.mide %>
</p>

<p>
  <strong>Test mode:</strong>
  <%= @npfhtransformer.test_mode %>
</p>

<p>
  <strong>Lost mv:</strong>
  <%= @npfhtransformer.lost_mv %>
</p>

<%= link_to 'Edit', edit_npfhtransformer_path(@npfhtransformer) %> |
<%= link_to 'Back', npfhtransformers_path %>
