<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @necklace_energized_bor_x_transformer.number %>
</p>

<p>
  <strong>Mide:</strong>
  <%= @necklace_energized_bor_x_transformer.mide %>
</p>

<p>
  <strong>Test mode:</strong>
  <%= @necklace_energized_bor_x_transformer.test_mode %>
</p>

<p>
  <strong>Lost mv:</strong>
  <%= @necklace_energized_bor_x_transformer.lost_mv %>
</p>

<%= link_to 'Edit', edit_necklace_energized_bor_x_transformer_path(@necklace_energized_bor_x_transformer) %> |
<%= link_to 'Back', necklace_energized_bor_x_transformers_path %>
