<p id="notice"><%= notice %></p>

<h1>Hot Collar Switches</h1>

<table>
  <thead>
    <tr>
      <th>Phase</th>
      <th>Nozzle</th>
      <th>Mv</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hot_collar_switches.each do |hot_collar_switch| %>
      <tr>
        <td><%= hot_collar_switch.phase %></td>
        <td><%= hot_collar_switch.nozzle %></td>
        <td><%= hot_collar_switch.mv %></td>
        <td><%= link_to 'Show', hot_collar_switch %></td>
        <td><%= link_to 'Edit', edit_hot_collar_switch_path(hot_collar_switch) %></td>
        <td><%= link_to 'Destroy', hot_collar_switch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hot Collar Switch', new_hot_collar_switch_path %>
