<p id="notice"><%= notice %></p>

<p>
  <strong>Phase:</strong>
  <%= @hot_collar_switch.phase %>
</p>

<p>
  <strong>Nozzle:</strong>
  <%= @hot_collar_switch.nozzle %>
</p>

<p>
  <strong>Mv:</strong>
  <%= @hot_collar_switch.mv %>
</p>

<%= link_to 'Edit', edit_hot_collar_switch_path(@hot_collar_switch) %> |
<%= link_to 'Back', hot_collar_switches_path %>
