<p id="notice"><%= notice %></p>

<p>
  <strong>Phase:</strong>
  <%= @power_factor_switch.phase %>
</p>

<p>
  <strong>Proof:</strong>
  <%= @power_factor_switch.proof %>
</p>

<p>
  <strong>Position switches:</strong>
  <%= @power_factor_switch.position_switches %>
</p>

<p>
  <strong>Tat:</strong>
  <%= @power_factor_switch.tat %>
</p>

<p>
  <strong>Tbt:</strong>
  <%= @power_factor_switch.tbt %>
</p>

<p>
  <strong>Selector:</strong>
  <%= @power_factor_switch.selector %>
</p>

<p>
  <strong>Mv:</strong>
  <%= @power_factor_switch.mv %>
</p>

<p>
  <strong>Fp current:</strong>
  <%= @power_factor_switch.fp_current %>
</p>

<%= link_to 'Edit', edit_power_factor_switch_path(@power_factor_switch) %> |
<%= link_to 'Back', power_factor_switches_path %>
