<p id="notice"><%= notice %></p>

<h1>Insulation Resistance Switches</h1>

<table>
  <thead>
    <tr>
      <th>Phase</th>
      <th>Proof</th>
      <th>Switch position</th>
      <th>Connection</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insulation_resistance_switches.each do |insulation_resistance_switch| %>
      <tr>
        <td><%= insulation_resistance_switch.phase %></td>
        <td><%= insulation_resistance_switch.proof %></td>
        <td><%= insulation_resistance_switch.switch_position %></td>
        <td><%= insulation_resistance_switch.connection %></td>
        <td><%= insulation_resistance_switch.date %></td>
        <td><%= link_to 'Show', insulation_resistance_switch %></td>
        <td><%= link_to 'Edit', edit_insulation_resistance_switch_path(insulation_resistance_switch) %></td>
        <td><%= link_to 'Destroy', insulation_resistance_switch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Insulation Resistance Switch', new_insulation_resistance_switch_path %>
