<p id="notice"><%= notice %></p>

<p>
  <strong>Phase:</strong>
  <%= @insulation_resistance_switch.phase %>
</p>

<p>
  <strong>Proof:</strong>
  <%= @insulation_resistance_switch.proof %>
</p>

<p>
  <strong>Switch position:</strong>
  <%= @insulation_resistance_switch.switch_position %>
</p>

<p>
  <strong>Connection:</strong>
  <%= @insulation_resistance_switch.connection %>
</p>

<p>
  <strong>Date:</strong>
  <%= @insulation_resistance_switch.date %>
</p>

<%= link_to 'Edit', edit_insulation_resistance_switch_path(@insulation_resistance_switch) %> |
<%= link_to 'Back', insulation_resistance_switches_path %>
