<p id="notice"><%= notice %></p>

<h1>Transformation Ratio Transformers</h1>

<table>
  <thead>
    <tr>
      <th>Outlet tap</th>
      <th>Nominal relationship</th>
      <th>Step a</th>
      <th>Step b</th>
      <th>Step c</th>
      <th>Difference</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transformation_ratio_transformers.each do |transformation_ratio_transformer| %>
      <tr>
        <td><%= transformation_ratio_transformer.outlet_tap %></td>
        <td><%= transformation_ratio_transformer.nominal_relationship %></td>
        <td><%= transformation_ratio_transformer.step_a %></td>
        <td><%= transformation_ratio_transformer.step_b %></td>
        <td><%= transformation_ratio_transformer.step_c %></td>
        <td><%= transformation_ratio_transformer.difference %></td>
        <td><%= link_to 'Show', transformation_ratio_transformer %></td>
        <td><%= link_to 'Edit', edit_transformation_ratio_transformer_path(transformation_ratio_transformer) %></td>
        <td><%= link_to 'Destroy', transformation_ratio_transformer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transformation Ratio Transformer', new_transformation_ratio_transformer_path %>
