<p id="notice"><%= notice %></p>

<h1>Power Transformers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @power_transformers.each do |power_transformer| %>
      <tr>
        <td><%= power_transformer.name %></td>
        <td><%= power_transformer.number %></td>
        <td><%= link_to 'Show', power_transformer %></td>
        <td><%= link_to 'Edit', edit_power_transformer_path(power_transformer) %></td>
        <td><%= link_to 'Destroy', power_transformer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Power Transformer', new_power_transformer_path %>
