<p id="notice"><%= notice %></p>

<p>
  <strong>Outlet:</strong>
  <%= @transformation_ratio_transfromer.outlet %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @transformation_ratio_transfromer.relationship %>
</p>

<p>
  <strong>Step a:</strong>
  <%= @transformation_ratio_transfromer.step_a %>
</p>

<p>
  <strong>Step b:</strong>
  <%= @transformation_ratio_transfromer.step_b %>
</p>

<p>
  <strong>Step c:</strong>
  <%= @transformation_ratio_transfromer.step_c %>
</p>

<p>
  <strong>Difference:</strong>
  <%= @transformation_ratio_transfromer.difference %>
</p>

<%= link_to 'Edit', edit_transformation_ratio_transfromer_path(@transformation_ratio_transfromer) %> |
<%= link_to 'Back', transformation_ratio_transfromers_path %>
