<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @necklace_energized_bor_h_transformer.number %>
</p>

<p>
  <strong>Mide:</strong>
  <%= @necklace_energized_bor_h_transformer.mide %>
</p>

<p>
  <strong>Test mode:</strong>
  <%= @necklace_energized_bor_h_transformer.test_mode %>
</p>

<p>
  <strong>Lost mv:</strong>
  <%= @necklace_energized_bor_h_transformer.lost_mv %>
</p>

<%= link_to 'Edit', edit_necklace_energized_bor_h_transformer_path(@necklace_energized_bor_h_transformer) %> |
<%= link_to 'Back', necklace_energized_bor_h_transformers_path %>
