<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @powe_factor_nozzle_h.number %>
</p>

<p>
  <strong>Mide:</strong>
  <%= @powe_factor_nozzle_h.mide %>
</p>

<p>
  <strong>Mode proof:</strong>
  <%= @powe_factor_nozzle_h.mode_proof %>
</p>

<p>
  <strong>Lost mv:</strong>
  <%= @powe_factor_nozzle_h.lost_mv %>
</p>

<%= link_to 'Edit', edit_powe_factor_nozzle_h_path(@powe_factor_nozzle_h) %> |
<%= link_to 'Back', powe_factor_nozzle_hs_path %>
