<p id="notice"><%= notice %></p>

<p>
  <strong>Phase:</strong>
  <%= @insulation_resistence_switch.phase %>
</p>

<p>
  <strong>Proof:</strong>
  <%= @insulation_resistence_switch.proof %>
</p>

<p>
  <strong>Position switch:</strong>
  <%= @insulation_resistence_switch.position_switch %>
</p>

<p>
  <strong>Connection:</strong>
  <%= @insulation_resistence_switch.connection %>
</p>

<p>
  <strong>Date:</strong>
  <%= @insulation_resistence_switch.date %>
</p>

<%= link_to 'Edit', edit_insulation_resistence_switch_path(@insulation_resistence_switch) %> |
<%= link_to 'Back', insulation_resistence_switches_path %>
