<p id="notice"><%= notice %></p>

<p>
  <strong>Phase:</strong>
  <%= @pfswitch.phase %>
</p>

<p>
  <strong>Proof:</strong>
  <%= @pfswitch.proof %>
</p>

<p>
  <strong>Switch position:</strong>
  <%= @pfswitch.switch_position %>
</p>

<p>
  <strong>Tat:</strong>
  <%= @pfswitch.tat %>
</p>

<p>
  <strong>Tbt:</strong>
  <%= @pfswitch.tbt %>
</p>

<p>
  <strong>Selector switch:</strong>
  <%= @pfswitch.selector_switch %>
</p>

<p>
  <strong>Mv:</strong>
  <%= @pfswitch.mv %>
</p>

<p>
  <strong>Fp current:</strong>
  <%= @pfswitch.fp_current %>
</p>

<%= link_to 'Edit', edit_pfswitch_path(@pfswitch) %> |
<%= link_to 'Back', pfswitches_path %>
