<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @npfxtransformer.number %>
</p>

<p>
  <strong>Mide:</strong>
  <%= @npfxtransformer.mide %>
</p>

<p>
  <strong>Test mode:</strong>
  <%= @npfxtransformer.test_mode %>
</p>

<p>
  <strong>Lost mv:</strong>
  <%= @npfxtransformer.lost_mv %>
</p>

<%= link_to 'Edit', edit_npfxtransformer_path(@npfxtransformer) %> |
<%= link_to 'Back', npfxtransformers_path %>
