<%= form_for(powe_factor_nozzle_x) do |f| %>
  <% if powe_factor_nozzle_x.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(powe_factor_nozzle_x.errors.count, "error") %> prohibited this powe_factor_nozzle_x from being saved:</h2>

      <ul>
      <% powe_factor_nozzle_x.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>

  <div class="field">
    <%= f.label :mide %>
    <%= f.text_field :mide %>
  </div>

  <div class="field">
    <%= f.label :mode_proof %>
    <%= f.text_field :mode_proof %>
  </div>

  <div class="field">
    <%= f.label :lost_mv %>
    <%= f.text_field :lost_mv %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
