<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @powe_factor_nozzle_x.number %>
</p>

<p>
  <strong>Mide:</strong>
  <%= @powe_factor_nozzle_x.mide %>
</p>

<p>
  <strong>Mode proof:</strong>
  <%= @powe_factor_nozzle_x.mode_proof %>
</p>

<p>
  <strong>Lost mv:</strong>
  <%= @powe_factor_nozzle_x.lost_mv %>
</p>

<%= link_to 'Edit', edit_powe_factor_nozzle_x_path(@powe_factor_nozzle_x) %> |
<%= link_to 'Back', powe_factor_nozzle_xes_path %>
