<%= form_for(irtransformer) do |f| %>
  <% if irtransformer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(irtransformer.errors.count, "error") %> prohibited this irtransformer from being saved:</h2>

      <ul>
      <% irtransformer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :proof %>
    <%= f.number_field :proof %>
  </div>

  <div class="field">
    <%= f.label :line %>
    <%= f.text_field :line %>
  </div>

  <div class="field">
    <%= f.label :guard %>
    <%= f.text_field :guard %>
  </div>

  <div class="field">
    <%= f.label :earth %>
    <%= f.text_field :earth %>
  </div>

  <div class="field">
    <%= f.label :measure %>
    <%= f.number_field :measure %>
  </div>

  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>

  <div class="field">
    <%= f.label :time %>
    <%= f.text_field :time %>
  </div>

  <div class="field">
    <%= f.label :resistence %>
    <%= f.text_field :resistence %>
  </div>

  <div class="field">
    <%= f.label :t_number %>
    <%= f.text_field :t_number %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
