<p id="notice"><%= notice %></p>

<p>
  <strong>Proof:</strong>
  <%= @irtransformer.proof %>
</p>

<p>
  <strong>Line:</strong>
  <%= @irtransformer.line %>
</p>

<p>
  <strong>Guard:</strong>
  <%= @irtransformer.guard %>
</p>

<p>
  <strong>Earth:</strong>
  <%= @irtransformer.earth %>
</p>

<p>
  <strong>Measure:</strong>
  <%= @irtransformer.measure %>
</p>

<p>
  <strong>Number:</strong>
  <%= @irtransformer.number %>
</p>

<p>
  <strong>Time:</strong>
  <%= @irtransformer.time %>
</p>

<p>
  <strong>Resistence:</strong>
  <%= @irtransformer.resistence %>
</p>

<%= link_to 'Edit', edit_irtransformer_path(@irtransformer) %> |
<%= link_to 'Back', irtransformers_path %>
