<p id="notice"><%= notice %></p>

<h1>Power Factor Nozzle X Transformers</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Mide</th>
      <th>Test mode</th>
      <th>Lost mv</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @power_factor_nozzle_x_transformers.each do |power_factor_nozzle_x_transformer| %>
      <tr>
        <td><%= power_factor_nozzle_x_transformer.number %></td>
        <td><%= power_factor_nozzle_x_transformer.mide %></td>
        <td><%= power_factor_nozzle_x_transformer.test_mode %></td>
        <td><%= power_factor_nozzle_x_transformer.lost_mv %></td>
        <td><%= link_to 'Show', power_factor_nozzle_x_transformer %></td>
        <td><%= link_to 'Edit', edit_power_factor_nozzle_x_transformer_path(power_factor_nozzle_x_transformer) %></td>
        <td><%= link_to 'Destroy', power_factor_nozzle_x_transformer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Power Factor Nozzle X Transformer', new_power_factor_nozzle_x_transformer_path %>
