<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @power_factor_nozzle_x_transformer.number %>
</p>

<p>
  <strong>Mide:</strong>
  <%= @power_factor_nozzle_x_transformer.mide %>
</p>

<p>
  <strong>Test mode:</strong>
  <%= @power_factor_nozzle_x_transformer.test_mode %>
</p>

<p>
  <strong>Lost mv:</strong>
  <%= @power_factor_nozzle_x_transformer.lost_mv %>
</p>

<%= link_to 'Edit', edit_power_factor_nozzle_x_transformer_path(@power_factor_nozzle_x_transformer) %> |
<%= link_to 'Back', power_factor_nozzle_x_transformers_path %>
