<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @etnxtransformer.number %>
</p>

<p>
  <strong>Mide:</strong>
  <%= @etnxtransformer.mide %>
</p>

<p>
  <strong>Test mode:</strong>
  <%= @etnxtransformer.test_mode %>
</p>

<p>
  <strong>Lost mv:</strong>
  <%= @etnxtransformer.lost_mv %>
</p>

<%= link_to 'Edit', edit_etnxtransformer_path(@etnxtransformer) %> |
<%= link_to 'Back', etnxtransformers_path %>
