<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @etnhtransformer.number %>
</p>

<p>
  <strong>Mide:</strong>
  <%= @etnhtransformer.mide %>
</p>

<p>
  <strong>Test mode:</strong>
  <%= @etnhtransformer.test_mode %>
</p>

<p>
  <strong>Lost mv:</strong>
  <%= @etnhtransformer.lost_mv %>
</p>

<%= link_to 'Edit', edit_etnhtransformer_path(@etnhtransformer) %> |
<%= link_to 'Back', etnhtransformers_path %>
