<p id="notice"><%= notice %></p>

<p>
  <strong>Take tap:</strong>
  <%= @trtranformer.take_tap %>
</p>

<p>
  <strong>Nominal relationship:</strong>
  <%= @trtranformer.nominal_relationship %>
</p>

<p>
  <strong>Phase:</strong>
  <%= @trtranformer.phase %>
</p>

<p>
  <strong>Difference:</strong>
  <%= @trtranformer.difference %>
</p>

<%= link_to 'Edit', edit_trtranformer_path(@trtranformer) %> |
<%= link_to 'Back', trtranformers_path %>
