<p id="notice"><%= notice %></p>

<p>
  <strong>Proof:</strong>
  <%= @insulation_resistence_transformer.proof %>
</p>

<p>
  <strong>Line:</strong>
  <%= @insulation_resistence_transformer.line %>
</p>

<p>
  <strong>Guard:</strong>
  <%= @insulation_resistence_transformer.guard %>
</p>

<p>
  <strong>Earth:</strong>
  <%= @insulation_resistence_transformer.earth %>
</p>

<p>
  <strong>Mide:</strong>
  <%= @insulation_resistence_transformer.mide %>
</p>

<p>
  <strong>Number:</strong>
  <%= @insulation_resistence_transformer.number %>
</p>

<p>
  <strong>Time:</strong>
  <%= @insulation_resistence_transformer.time %>
</p>

<p>
  <strong>Resistance:</strong>
  <%= @insulation_resistence_transformer.resistance %>
</p>

<%= link_to 'Edit', edit_insulation_resistence_transformer_path(@insulation_resistence_transformer) %> |
<%= link_to 'Back', insulation_resistence_transformers_path %>
