<p id="notice"><%= notice %></p>

<h1>Sbbanks</h1>

<table>
  <thead>
    <tr>
      <th>Cell</th>
      <th>Without charge</th>
      <th>Voltage 5min</th>
      <th>Amperage 5min</th>
      <th>Voltage 15min</th>
      <th>Amperage 15min</th>
      <th>Voltage 30min</th>
      <th>Amperage 30min</th>
      <th>Voltage 1hr</th>
      <th>Amperage 1hr</th>
      <th>Voltage 2hr</th>
      <th>Amperage 2hr</th>
      <th>t_number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sbbanks.each do |sbbank| %>
      <tr>
        <td><%= sbbank.cell %></td>
        <td><%= sbbank.without_charge %></td>
        <td><%= sbbank.voltage_5min %></td>
        <td><%= sbbank.amperage_5min %></td>
        <td><%= sbbank.voltage_15min %></td>
        <td><%= sbbank.amperage_15min %></td>
        <td><%= sbbank.voltage_30min %></td>
        <td><%= sbbank.amperage_30min %></td>
        <td><%= sbbank.voltage_1hr %></td>
        <td><%= sbbank.amperage_1hr %></td>
        <td><%= sbbank.voltage_2hr %></td>
        <td><%= sbbank.amperage_2hr %></td>
        <td><%= sbbank.t_number%></td>
        <td><%= link_to 'Show', sbbank %></td>
        <td><%= link_to 'Edit', edit_sbbank_path(sbbank) %></td>
        <td><%= link_to 'Destroy', sbbank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sbbank', new_sbbank_path %>
