<%= form_for(own_use_transformer) do |f| %>
  <% if own_use_transformer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(own_use_transformer.errors.count, "error") %> prohibited this own_use_transformer from being saved:</h2>

      <ul>
      <% own_use_transformer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
