<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @own_use_transformer.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @own_use_transformer.number %>
</p>

<%= link_to 'Edit', edit_own_use_transformer_path(@own_use_transformer) %> |
<%= link_to 'Back', own_use_transformers_path %>
