<p id="notice"><%= notice %></p>

<h1>Neckalace Energized Bor H Transformers</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Mide</th>
      <th>Mode proof</th>
      <th>Lost mv</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @neckalace_energized_bor_h_transformers.each do |neckalace_energized_bor_h_transformer| %>
      <tr>
        <td><%= neckalace_energized_bor_h_transformer.number %></td>
        <td><%= neckalace_energized_bor_h_transformer.mide %></td>
        <td><%= neckalace_energized_bor_h_transformer.mode_proof %></td>
        <td><%= neckalace_energized_bor_h_transformer.lost_mv %></td>
        <td><%= link_to 'Show', neckalace_energized_bor_h_transformer %></td>
        <td><%= link_to 'Edit', edit_neckalace_energized_bor_h_transformer_path(neckalace_energized_bor_h_transformer) %></td>
        <td><%= link_to 'Destroy', neckalace_energized_bor_h_transformer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Neckalace Energized Bor H Transformer', new_neckalace_energized_bor_h_transformer_path %>
