<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @neckalace_energized_bor_h_transformer.number %>
</p>

<p>
  <strong>Mide:</strong>
  <%= @neckalace_energized_bor_h_transformer.mide %>
</p>

<p>
  <strong>Mode proof:</strong>
  <%= @neckalace_energized_bor_h_transformer.mode_proof %>
</p>

<p>
  <strong>Lost mv:</strong>
  <%= @neckalace_energized_bor_h_transformer.lost_mv %>
</p>

<%= link_to 'Edit', edit_neckalace_energized_bor_h_transformer_path(@neckalace_energized_bor_h_transformer) %> |
<%= link_to 'Back', neckalace_energized_bor_h_transformers_path %>
