<p id="notice"><%= notice %></p>

<p>
  <strong>Proof:</strong>
  <%= @insulation_resistance_transformer.proof %>
</p>

<p>
  <strong>Line:</strong>
  <%= @insulation_resistance_transformer.line %>
</p>

<p>
  <strong>Guard:</strong>
  <%= @insulation_resistance_transformer.guard %>
</p>

<p>
  <strong>Earth:</strong>
  <%= @insulation_resistance_transformer.earth %>
</p>

<p>
  <strong>Mide:</strong>
  <%= @insulation_resistance_transformer.mide %>
</p>

<p>
  <strong>Number:</strong>
  <%= @insulation_resistance_transformer.number %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @insulation_resistance_transformer.weather %>
</p>

<p>
  <strong>Resistance:</strong>
  <%= @insulation_resistance_transformer.resistance %>
</p>

<%= link_to 'Edit', edit_insulation_resistance_transformer_path(@insulation_resistance_transformer) %> |
<%= link_to 'Back', insulation_resistance_transformers_path %>
